 <div class="row" id="aboutid">
    <div class="col-md-10  col-12 mx-auto ">
<div class="main-text text-center">
<h1>About Us</h1>

</div>
      <div class="row">
    
        <div class="col-md-6 col-12 hero-text text-center content-justify-center align-item-center  flex-column order-md-0 order-1 ">
          <h1>Hey</h1>
<h4>I'm Abdul Rehman</h4>
<h6>a young</h6>
<h4 class="bold-style">Front-end Web Developer.</h4>
<div class="btn btn-success flex-column  mt-5">View My Work</div>
        </div>

            <div class="col-md-6 col-12 hero-text  order-md-0 order-1 ">
          <figure>
            <img src="images/rehman.png" class="img-fluid w-75 ml-4" alt="images">
          </figure>
        </div>
      </div>

    </div>
  </div>